{% extends 'bootstrap/base.html' %}

{% block title %}samsimsom - {{ title }}{% endblock %}

{% block content %}
    {# Navbar include #}
    {% include 'navbar.html' %}

    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h2>About Page</h2>
            <hr>
            <p class="text-justify">
                <strong class="text-justify">Mehmet Fırat Tanrıkulu (samsimsom) (1984 – Turkey / Ankara)</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin rhoncus faucibus nunc sed suscipit. Aenean ac enim enim.
                Cras accumsan ipsum lacus, id eleifend arcu eleifend et.
                Proin dapibus lobortis est, vel pretium ante sagittis cursus.
                Sed tempus ipsum urna, eu efficitur quam pellentesque ut.
                Quisque nec lacinia quam, sed eleifend libero. Nulla facilisi.
                Pellentesque in lacus maximus, gravida mi vitae, vestibulum turpis.
                Donec vestibulum finibus ante in consectetur. Curabitur rutrum mi
                quis est pretium, quis blandit nisl convallis.
            </p>
            <hr>
            <p class="text-justify">
                <strong>Eğitim</strong>
                <br>
                İzmir – Dokuz Eylül Üniversitesi – Grafik Tasarım Bölümü (2003 – 2010)
                <br>
                <br>
                <strong>Sergiler</strong>
                <br>
                2012 | Pera Müzesi – Deneyimin Ötesi Sergisi (10 Ağustos – 30 Eylül 2012)
                <br>
                <br>
                Panel
                <br>
                2012 | Pera Müzesi – Panel: İnteraktif Medya, Reklam ve Tasarım (8 eylül 2012)
                <br>
                <br>
                <strong>Kitap</strong>
                <br>
                2012 | Alternatif Yayıncılık – İllustrasyon (Link)
                <br>
                <br>
                <strong>İş Deneyimi</strong>
                <br>
                Anima Okul | Modelleme ve zBrush Eğitmeni
                <br>
                (Mayıs 2014 – Now)
                <br>
                <br>
                Freelance | 3D Character Artist & Modeler
                <br>
                (Ocak 2014 – Now)
                <br>
                <br>
                Robotika Films | 3D Character Artist & Modeler
                <br>
                (Şubat 2011 – Aralık 2013 İstanbul, Türkiye)
                <br>
                <br>
                Pana Film – NRZ Animation Studio | 3D Character Artist & Modeler
                <br>
                (Temmuz 2010 – Ocak 2011 (7 ay) İstanbul, Türkiye)
            </p>
        </div>
    </div>
{% endblock %}
