{% extends 'bootstrap/base.html' %}

{% block title %}samsimsom - {{ title }}{% endblock %}

{% block content %}
    {# Navbar include #}
    {% include 'navbar.html' %}

    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contact Page</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin rhoncus faucibus nunc sed suscipit. Aenean ac enim enim.
                Cras accumsan ipsum lacus, id eleifend arcu eleifend et.
                Proin dapibus lobortis est, vel pretium ante sagittis cursus.
                Sed tempus ipsum urna, eu efficitur quam pellentesque ut.
                Quisque nec lacinia quam, sed eleifend libero. Nulla facilisi.
                Pellentesque in lacus maximus, gravida mi vitae, vestibulum turpis.
                Donec vestibulum finibus ante in consectetur. Curabitur rutrum mi
                quis est pretium, quis blandit nisl convallis.
            </p>
        </div>
    </div>
{% endblock %}
