<div class="container">
    <div class="row">

            {% for e_id_e in srt_str_con_id_list %}
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a title="{{ Content_DB['cont_0' + e_id_e]['title'] }}"
                   href="{{ url_for('single_img', page=Content_DB['cont_0' + e_id_e]['link']) }}">
                    <img class="thumbnail img-responsive img-rounded"
                         src="{{ Content_DB['cont_0' + e_id_e]['thumb'] }}">
                </a>
            </div>
                {% endfor %}

    </div>
</div>