{% extends 'bootstrap/base.html' %}

{% block title %}samsimsom - {{ con_title }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
    {# Navbar include #}
    {% include 'navbar.html' %}

    <div class="container">
        {% for big_img in  con_bigPic%}
            <div class="col-md-8 col-md-offset-2">
                <img title="{{ con_title }}" class="img-responsive img-rounded" src="{{ big_img }}">
                <hr>
            </div>
        {% endfor %}

        <div class="col-md-8 col-md-offset-2">
            <h4><strong>Title : {{ con_title }}</strong></h4>
            <hr>
            <p class="text-justify">
                {{ con_text }}
            </p>
        </div>
    </div>
{% endblock %}




